In [26]:
import numpy as np
import pandas as pd
import scipy as sp
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv("Data_Marketing_Customer_Analysis_Round3.csv")

In [28]:
from scipy.stats import iqr
def remove_outliers(df):
    for c in df.columns:
            pct_75 = np.percentile(df[c], 75)
            pct_25 = np.percentile(df[c], 25)
            upper_bound = pct_75 + 1.5*iqr(df[c])
            lower_bound = pct_25 - 1.5*iqr(df[c])
            condition = (df[c] < upper_bound) & (df[c] > lower_bound)
            df[c] = df[c][condition]  # Filter out the outliers
    return df

# Highly correlated values
I know there are none from doing the lab in week 2, I'll do the correlation matrix anyways...

In [29]:
# create dataframes with numerical...
df_num = df[df.select_dtypes(include=[np.number]).columns]
# ...and categorical data only
df_cat = df[df.select_dtypes(include=[object]).columns]

# define numerical column index
num_cols = df_num.columns
# define categorical column index
cat_cols = df_cat.columns

corr = df_num[num_cols].corr()

In [30]:
thresh = 0.9
correlated_features = set()
for i in range(len(corr.columns)):
    for j in range(i):
        if abs(corr.iloc[i, j]) > thresh:
            colname = corr.columns[i]
            correlated_features.add(colname)

# Display the correlated features
print("Correlated features:", correlated_features)

Correlated features: set()

In [31]:
df_cat = df_cat.drop('effective_to_date', axis=1)

In [32]:
# get unique identifiers of the regions

# Create a dictionary that maps each unique region to an integer
ed_map = {"high school or below": 0, "college":1, "bachelor": 1,"master":2, "doctor":3}
ed_map
# Replace the values in the "region" column with their mapped integers
df_cat['education'] = df_cat['education'].map(ed_map)

In [33]:
# same for coverage
covs = df_cat["coverage"].unique()

cov_map = {coverage: i for i, coverage in enumerate(covs)}

df_cat["coverage"] = df_cat["coverage"].map(cov_map)

In [34]:
# same for vehicle size
sizes = {"small" : 0, "medsize" : 1, "large" : 2}

size_map = {size: i for i, size in enumerate(sizes)}

df_cat["vehicle_size"] = df_cat["vehicle_size"].map(size_map)

In [35]:
cols_to_dummify = df_cat.columns.drop(["coverage","education","vehicle_size"])

df_dummies = pd.get_dummies(cols_to_dummify, sparse=1,drop_first=1)
df_dummies

,gender,location_code,marital_status,month,policy,policy_type,region,renew_offer_type,response,sales_channel,vehicle_class
0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0,0
7,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0
9,0,0,0,0,0,0,0,1,0,0,0
10,0,0,0,0,0,0,0,0,0,1,0
11,0,0,0,0,0,0,0,0,0,0,1

In [36]:
# create dummy variables
# for all non-ordinal columns
cols_to_dummify = df_cat.columns.drop(["coverage","education","vehicle_size"])
df_dums = pd.DataFrame()
for i, col in enumerate(cols_to_dummify):
    df_dummies = pd.get_dummies(df_cat[col], drop_first=1)
    # concatenate the original dataframe with the dummy variables
    df_dums = pd.concat([df_dums, df_dummies], axis=1)

In [37]:
df_dums

,east,north west,west region,yes,jan,employed,medical leave,retired,unemployed,m,...,offer3,offer4,branch,call center,web,luxury car,luxury suv,sports car,suv,two-door car
0,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
3,0,1,0,1,1,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,0,1,0,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,0,0,0,0,1,0,0,0,1,0,...,1,0,0,0,1,1,0,0,0,0
10685,0,1,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10686,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
10687,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
10688,0,0,0,0,1,0,0,0,1,1,...,0,1,0,0,1,0,0,0,1,0

In [38]:
df_done = pd.concat([df_cat[["coverage","education","vehicle_size"]], df_dums], axis=1)

In [51]:
df_done.to_csv("dum_df.csv", index=False)
df_num.to_csv("num_df.csv", index=False)

In [50]:
pd.read_csv("dum_df.csv")

,"range(0, 10)",coverage,education,vehicle_size,east,north west,west region,yes,jan,employed,...,offer3,offer4,branch,call center,web,luxury car,luxury suv,sports car,suv,two-door car
0,0,0,1,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
1,1,0,1,1,0,0,1,0,1,0,...,0,1,0,1,0,0,0,0,0,0
2,2,0,1,1,1,0,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
3,3,1,1,1,0,1,0,1,1,1,...,0,0,1,0,0,0,0,0,0,0
4,4,2,1,1,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,10684,2,1,1,0,0,0,0,1,0,...,1,0,0,0,1,1,0,0,0,0
10685,10685,0,1,1,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
10686,10686,1,1,1,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
10687,10687,2,1,1,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,1,0
10688,10688,0,1,1,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,1,0

In [40]:
df = pd.concat([df_done, df_num], axis=1)
df.to_csv("dum_num_df.csv")

# Optional

In [ ]:
df_num

In [ ]:
# import required libraries
from sklearn import linear_model
from sklearn.preprocessing import PowerTransformer, StandardScaler, MinMaxScaler

scale = MinMaxScaler()

X = df_num[["customer_lifetime_value"]]

scaledX = scale.fit_transform(X)

display(X, scaledX)

In [ ]:
# plot X against scaledX to verify the rescaling
# Create a figure and axis
fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(12, 5))

# Plot the first distribution
sns.histplot(data=X, kde=True, ax=ax[0])

# Plot the second distribution
sns.histplot(data=scaledX, kde=True, ax=ax[1])

# Adjust the plot layout
#plt.tight_layout()

# Show the plot
plt.show()

In [ ]:
print(scaledX.std(), scaledX.mean())

In [ ]:
scale = PowerTransformer(method="box-cox")

X = df_num[["customer_lifetime_value"]]

scaledX = scale.fit_transform(X)

#print(X,scaledX)

# plot X against scaledX to verify the rescaling
# Create a figure and axis
fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(12, 5))

# Plot the first distribution
sns.histplot(data=X, kde=True, ax=ax[0])

# Plot the second distribution
sns.histplot(data=scaledX, kde=True, ax=ax[1])

# Adjust the plot layout
#plt.tight_layout()

# Show the plot
plt.show()

In [ ]:
print(scaledX.std(), scaledX.mean())

In [ ]:
scale = PowerTransformer(method="yeo-johnson")

X = df_num[["customer_lifetime_value"]]

scaledX = scale.fit_transform(X)

#print(X,scaledX)

# plot X against scaledX to verify the rescaling
# Create a figure and axis
fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(12, 5))

# Plot the first distribution
sns.histplot(data=X, kde=True, ax=ax[0])

# Plot the second distribution
sns.histplot(data=scaledX, kde=True, ax=ax[1])

# Adjust the plot layout
#plt.tight_layout()

# Show the plot
plt.show()

In [ ]:
print(scaledX.std(), scaledX.mean())

The difference between the options "box-cox" and "yeo-johnson" is that the former requires strictly positive input data while the latter takes both positive and negative values.

#